# Lesson 1: Getting Started

## 1.1 SAS Viya Overview
N/A

## 1.2 Getting Started with Python Integration to SAS Viya

### Getting Started with CAS

Import package

In [ ]:
import swat
import pandas as pd
pd.set_option('display.max_columns', None)

Connect to the CAS server.

In [5]:
conn = swat.CAS('server.demo.sas.com', 30571, 'student', 'Metadata0', name = 'L1examples')
conn

CAS('server.demo.sas.com', 30571, 'student', protocol='http', name='L1examples', session='c6192599-f4ec-3246-bdd3-edecf046ff34')

Execute actions and methods.

In [6]:
tbl = conn.CASTable('cars', caslib = 'casuser')
tbl

CASTable('cars', caslib='casuser')

In [4]:
tbl.head()

Selected Rows from Table CARS

    Make            Model   Type Origin DriveTrain     MSRP  Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  Wheelbase  Length
0  Acura              MDX    SUV   Asia        All  36945.0  33337.0         3.5        6.0       265.0      17.0         23.0  4451.0      106.0   189.0
1  Acura   RSX Type S 2dr  Sedan   Asia      Front  23820.0  21761.0         2.0        4.0       200.0      24.0         31.0  2778.0      101.0   172.0
2  Acura          TSX 4dr  Sedan   Asia      Front  26990.0  24647.0         2.4        4.0       200.0      22.0         29.0  3230.0      105.0   183.0
3  Acura           TL 4dr  Sedan   Asia      Front  33195.0  30299.0         3.2        6.0       270.0      20.0         28.0  3575.0      108.0   186.0
4  Acura       3.5 RL 4dr  Sedan   Asia      Front  43755.0  39014.0         3.5        6.0       225.0      18.0         24.0  3880.0      115.0   197.0

In [5]:
tbl.fetch(to = 5)

[Fetch]

 Selected Rows from Table CARS

     Make            Model   Type Origin DriveTrain     MSRP  Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  Wheelbase  Length
 0  Acura              MDX    SUV   Asia        All  36945.0  33337.0         3.5        6.0       265.0      17.0         23.0  4451.0      106.0   189.0
 1  Acura   RSX Type S 2dr  Sedan   Asia      Front  23820.0  21761.0         2.0        4.0       200.0      24.0         31.0  2778.0      101.0   172.0
 2  Acura          TSX 4dr  Sedan   Asia      Front  26990.0  24647.0         2.4        4.0       200.0      22.0         29.0  3230.0      105.0   183.0
 3  Acura           TL 4dr  Sedan   Asia      Front  33195.0  30299.0         3.2        6.0       270.0      20.0         28.0  3575.0      108.0   186.0
 4  Acura       3.5 RL 4dr  Sedan   Asia      Front  43755.0  39014.0         3.5        6.0       225.0      18.0         24.0  3880.0      115.0   197.0

+ Elapsed: 0.00187s, user: 0.00175s, mem: 0.983mb

## Terminate the CAS Session

In [6]:
conn.terminate()