# Lesson 4: Doing More with Python and SAS Viya

In [1]:
## Import packages
import swat
import pandas as pd

## Set options
pd.set_option('display.max_columns', None)

## Connect to CAS
conn = swat.CAS('server.demo.sas.com', 30571, 'student', 'Metadata0', name = 'L4examples')

## 4.1 Data Visualization Using a CAS Table
N/A

## 4.2 Additional CAS Actions

### Creating Linear Regression Models

In [2]:
conn.loadActionSet('regression')
conn.regression?

NOTE: Added action set 'regression'.

Signature:   conn.regression(*args, **kwargs)
Type:        Regression
String form: <swat.cas.actions.Regression object at 0x0000022E412C17C0>
File:        c:\programdata\anaconda3\lib\site-packages\swat\cas\actions.py
Docstring:
Regression

Actions
-------
regression.genmod              : Fits generalized linear regression models
regression.genmodscore         : creates a table on the server that contains
                                 results from scoring observations by using a
                                 fitted model
regression.glm                 : Fits linear regression models using the method
                                 of least squares
regression.glmscore            : creates a table on the server that contains
                                 results from scoring observations by using a
                                 fitted model
regression.logistic            : Fits logistic regression models
regression.logisticassociation : computes indices of rank correlation between
                                 predicted probabilities and observed responses
                                 used for assessing the predictive ability of a
                                 model
regression.logisticcode        : writes SAS DATA step code for computing
                                 predicted values of the fitted model
regression.logisticlackfit     : computes the Hosmer-Lemeshow test
regression.logisticoddsratio   : creates a table that compares subpopulations by
                                 using odds ratios.
regression.logisticscore       : creates a table on the server that contains
                                 results from scoring observations by using a
                                 fitted model
regression.logistictype3       : computes Type 3 or Joint tests that all
                                 parameters for an effect are zero
regression.modelmatrix         : creates a table on the server that contains the
                                 design matrix associated with a given model
                                 statement.

In [3]:
cars = conn.CASTable('cars', caslib = 'casuser')

classCols = ['Origin']
cols = ['EngineSize', 'Cylinders', 'Horsepower', 
        'MPG_City', 'MPG_Highway']

cars.glm(
    target = 'MSRP',
    inputs = cols + classCols,
    selection = {'method':'BACKWARD'}
)

[ClassInfo]

 Class Level Information

     Class  Levels           Values
 0  Origin     3.0  Asia Europe USA

[Dimensions]

 Dimensions

       RowId           Description  Value
 0  NEFFECTS     Number of Effects      7
 1    NPARMS  Number of Parameters      9

[ModelInfo]

 Model Information

          RowId        Description Value
 0         DATA        Data Source  CARS
 1  RESPONSEVAR  Response Variable  MSRP

[NObs]

 Number of Observations

    RowId                  Description  Value
 0  NREAD  Number of Observations Read  428.0
 1  NUSED  Number of Observations Used  426.0

[SelectedModel.ANOVA]

 Analysis of Variance

    RowId           Source     DF            SS            MS      FValue          ProbF
 0  MODEL            Model    4.0  1.225344e+11  3.063361e+10  333.977136  3.968886e-129
 1  ERROR            Error  421.0  3.861567e+10  9.172368e+07         NaN            NaN
 2  TOTAL  Corrected Total  425.0  1.611501e+11           NaN         NaN            NaN

[SelectedModel.FitStatistics]

 Fit Statistics

        RowId Description         Value
 0       RMSE    Root MSE  9.577248e+03
 1    RSQUARE    R-Square  7.603746e-01
 2     ADJRSQ    Adj R-Sq  7.580978e-01
 3        AIC         AIC  8.243378e+03
 4       AICC        AICC  8.243579e+03
 5        SBC         SBC  7.835651e+03
 6  TRAIN_ASE         ASE  9.064711e+07

[SelectedModel.ParameterEstimates]

 Parameter Estimates

        Effect  Origin      Parameter  DF      Estimate       StdErr     tValue         Probt
 0   Intercept              Intercept   1 -28585.666691  4000.822211  -7.144948  3.992981e-12
 1  Horsepower             Horsepower   1    224.558346     9.160724  24.513166  4.319779e-83
 2    MPG_City               MPG_City   1    480.837787   123.229453   3.901971  1.110535e-04
 3      Origin    Asia    Origin Asia   1    -50.867283  1135.695129  -0.044790  9.642963e-01
 4      Origin  Europe  Origin Europe   1  11363.581408  1216.382282   9.342114  5.557827e-19
 5      Origin     USA     Origin USA   0      0.000000          NaN        NaN           NaN

[SelectionInfo]

 Selection Information

            RowId                Description     Value  NValue
 0         METHOD           Selection Method  Backward     NaN
 1   SELCRITERION           Select Criterion       SBC     NaN
 2  STOPCRITERION             Stop Criterion       SBC     NaN
 3      HIERARCHY  Effect Hierarchy Enforced    Single     NaN
 4    STOPHORIZON               Stop Horizon         3     3.0

[Summary.SelectedEffects]

 Selected Effects

                Label                               Effects
 0  Selected Effects:  Intercept Horsepower MPG_City Origin

[Summary.SelectionReason]

 Selection Reason

                              Reason
 0  The model at step 3 is selected.

[Summary.SelectionSummary]

 Selection Summary

   Control  Step EffectRemoved  nEffectsIn          SBC  OptSBC
 0             0                         7  7851.256676       0
 1       -     1   MPG_Highway           6  7845.217350       0
 2             2    EngineSize           5  7839.528774       0
 3             3     Cylinders           4  7835.650629       1
 4             4      MPG_City           3  7844.730352       0
 5             5        Origin           2  7934.782492       0

[Summary.StopReason]

 Stop Reason

                                               Reason  Code
 0  Selection stopped at a local minimum of the ST...     6

[Timing]

 Task Timing

             RowId                  Task      Time   RelTime
 0           SETUP     Setup and Parsing  0.003732  0.281808
 1    LEVELIZATION          Levelization  0.001341  0.101269
 2  INITIALIZATION  Model Initialization  0.000442  0.033378
 3            SSCP      SSCP Computation  0.002263  0.170870
 4         FITTING       Model Selection  0.002518  0.190134
 5         CLEANUP               Cleanup  0.002834  0.214007
 6           TOTAL                 Total  0.013243  1.000000

+ Elapsed: 0.0151s, user: 0.011s, sys: 0.006s, mem: 6.56mb

## 4.3 More SAS and Python Integration

[SAS Developer Home](https://developer.sas.com/home.html)

[Getting started with SAS and Python integration](https://developer.sas.com/guides/python.html)

## Terminate the CAS Session

In [ ]:
conn.terminate()